ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

p {
  color: red;
}

.note {
  font-size: 25px;
}

#id-selector-demo {
  color: green;
}

li[value="4"] {
  color: blue;
}
* {
  font-family: sans-serif;
}
